quarkus:
  application:
    name: ordinaryroad-blog-quarkus
  datasource:
    jdbc:
      driver: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/or_blog_dev?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&useSSL=false&zeroDateTimeBehavior=convertToNull&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    password: Root123.
    username: root
  http:
    access-log:
      enabled: true
    cors: true
    cors.access-control-allow-credentials: true
    port: 8081
  live-reload:
    instrumentation: true
  mybatis:
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
    mapper-locations: mapper
  redisson:
    codec: org.redisson.codec.JsonJacksonCodec
    single-server-config:
      address: redis://127.0.0.1:6379
      database: 0
  rest-client:
    gitee-oauth2:
      scope: javax.inject.Singleton
      url: https://gitee.com/api/v5
    github-oauth2:
      scope: javax.inject.Singleton
      url: https://api.github.com
    ordinaryroad:
      scope: javax.inject.Singleton
      url: https://api.ordinaryroad.tech
    ordinaryroad-auth:
      scope: javax.inject.Singleton
      url: https://auth.ordinaryroad.tech
  resteasy-json:
    default-json: false
  # Mailer
  mailer:
    from: or-mjz@qq.com
    host: smtp.qq.com
    port: 465
    ssl: true
    username: or-mjz@qq.com
    mock: true
    start-tls: REQUIRED
    auth-methods: DIGEST-MD5 CRAM-SHA256 CRAM-SHA1 CRAM-MD5 PLAIN LOGIN
# Sa-Token
sa-token:
  token-name: or-blog-token
# OrdinaryRoad
ordinaryroad:
  oauth2:
    redirect-uri: http://blog.ordinaryroad.tech:3000/user/authorized
    providers:
      ordinaryroad:
        client-id: ordinaryroad-blog
        client-secret: ${CLIENT_SECRET_ORDINARYROAD}
        scopes: openid,userinfo
        base-url: ${quarkus.rest-client.ordinaryroad-auth.url}
        authorize-endpoint: ${ordinaryroad.oauth2.providers.ordinaryroad.base-url}/oauth2/authorize
        access-token-endpoint: ${ordinaryroad.oauth2.providers.ordinaryroad.base-url}/oauth2/token
        user-info-endpoint: ${ordinaryroad.oauth2.providers.ordinaryroad.base-url}/oauth2/userinfo/wrapped
      github:
        client-id: c0615d2a28cfb7a20a84
        client-secret: ${CLIENT_SECRET_GITHUB}
        scopes: read:user
      gitee:
        client-id: f6c5eb5a40981cfb3dd235686ecad5b233c49c646b0b7d71131d0dff29bb8882
        client-secret: ${CLIENT_SECRET_GITEE}
        scopes: user_info
